:root {
  --clr-background: rgb(247, 244, 244);
  --clr-gray: rgb(119, 114, 114);
  --font-main: "Source Sans Pro", sans-serif;
  --clr-dark-gray: #262626;
  --clr-dark-black: #121212;
  --clr-dark-text: rgb(226, 225, 225);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
