:root {
  --clr-background: rgb(247, 244, 244);
  --clr-gray: rgb(119, 114, 114);
  --font-main: "Poppins", sans-serif;
  --clr-dark-text: #102a43;
  --clr-light-text: #617d98;
  --clr-teal: #49aeba;
  --clr-blue-background: #e0fcfe;
  --clr-gray-background: #f1f5f8;
  --clr-btn-background: #dae2ec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  color: var(--clr-dark-text);
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  background-color: white;
}

header {
  background-color: var(--clr-blue-background);
  border: none;
  height: 80vh;
}

.big {
  border: 2px solid var(--clr-teal);
  width: 65px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hero {
  margin: 0 auto;
  height: 50%;
}

.hero__text h1 {
  font-weight: 600;
  font-size: 40px;
}

.hero__text p {
  color: var(--clr-light-text);
  margin-top: 5px;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--clr-teal);
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 10px;
  letter-spacing: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  transform: scale(1.1);
}

.hero__icons {
  margin-top: 20px;
}

.icons {
  font-size: 30px;
  margin-right: 20px;
}

/* Services---------------------------------------------------- */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  background-color: #f1f5f8;
}

.header__text {
  font-size: 30px;
  letter-spacing: 3px;
}

.big-services {
  margin-bottom: 60px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
}

.card h4 {
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin: 20px 20px 70px 20px;
}

.small {
  border: 1px solid var(--clr-teal);
  width: 50px;
  margin: auto;
}

.service-icons {
  align-self: center;
  margin-top: 3rem;
  width: 35px;
  margin-bottom: 1.5rem;
}

/* Exeperience ---------------------------------------------------- */
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  width: 90%;
}

.job__info {
  width: 80%;
}

.jobs__center {
  margin: 0 auto;
}

.job__info h4 {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}

.job__info .company {
  background-color: var(--clr-btn-background);
  width: 50%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: var(--clr-light-text);
  margin-top: 10px;
  margin-bottom: 10px;
}

.job__info .dates {
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.job__info .duties {
  font-size: 13px;
  font-weight: 300;
  margin-left: 50px;
  margin-bottom: 20px;
}

.btn-company {
  border: none;
  background: transparent;
  font-size: 20px;
  margin: 10px;
}

.active-btn {
  color: var(--clr-teal);
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow-icon {
  font-size: 60px;
  fill: var(--clr-teal);
  max-width: 20px;
  min-width: 20px;
}
