:root {
  --clr-background: rgb(247, 244, 244);
  --clr-gray: rgb(119, 114, 114);
  --font-main: "Poppins", sans-serif;
  --clr-dark-text: #102a43;
  --clr-light-text: #617d98;
  --clr-teal: #49aeba;
  --clr-blue-background: #e0fcfe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  color: var(--clr-dark-text);
}

.container {
  width: 93%;
  margin: 0 auto;
}

nav {
  background-color: white;
}

header {
  background-color: var(--clr-blue-background);
  border: none;
  height: 100vh;
}

.big {
  border: 2px solid var(--clr-teal);
  width: 65px;
  margin-bottom: 10px;
}

.hero {
  margin: 0 auto;
  height: 50%;
}

.hero__text h1 {
  font-weight: 600;
  font-size: 40px;
}

.hero__text p {
  color: var(--clr-light-text);
  margin-top: 5px;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--clr-teal);
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 10px;
  letter-spacing: 4px;
}
